h1 {
    background-color:#CBDBE2;
    color: #9F6457;
}

header {
    background-color:#9F6457;
    color: #f3f7f8;
}

body {
    background-color: #9F6457;
    color:#f3f7f8;
    font-family:Arial, Helvetica, sans-serif
}